@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=RocknRoll+One&family=Ropa+Sans:ital@0;1&display=swap");
/*
"RocknRoll One", serif;
"Ropa  Sans", serif;
"Roboto", serif;
"Inter", serif;
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #759966;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
nav img {
  width: 120px;
  height: 120px;
}
@media (max-width: 1200px) {
  nav img {
    width: 80px;
    height: 80px;
  }
}
nav .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .title p {
  font-family: "Inter" serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
nav .title p:hover {
  font-size: 68px;
}
@media (max-width: 1200px) {
  nav .title p {
    font-size: 30px;
  }
  nav .title p:hover {
    font-size: 42px;
  }
}
@media (max-width: 850px) {
  nav .title p {
    font-size: 24px;
  }
  nav .title p:hover {
    font-size: 30px;
  }
}
nav .nav {
  display: flex;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 35px;
}
@media (max-width: 990px) {
  nav .nav {
    width: 480px;
  }
}
@media (max-width: 850px) {
  nav .nav {
    width: 400px;
  }
}
@media (max-width: 768px) {
  nav .nav {
    width: 0;
  }
}
nav .nav div {
  font-family: "Ropa Sans" serif;
  font-size: 30px;
  transition: 0.5s;
  transition-timing-function: ease;
}
nav .nav div:hover {
  font-size: 40px;
}
nav .nav div a {
  color: #B9D5E6;
}
@media (max-width: 1200px) {
  nav .nav div {
    font-size: 20px;
  }
  nav .nav div:hover {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  nav .nav div {
    display: none;
  }
}
nav .burger-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  display: none;
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}
nav .burger-icon span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #B9D5E6;
  border-radius: 5px;
}
@media (max-width: 768px) {
  nav .burger-icon {
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
}

footer {
  height: 262px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 960px) {
  footer {
    height: auto;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  footer {
    flex-direction: row;
  }
}
footer .social-media {
  padding-left: 40px;
}
@media (max-width: 960px) {
  footer .social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
footer .social-media div {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 800px) {
  footer .social-media div i {
    padding-left: 30px;
    padding-bottom: 30px;
    cursor: pointer;
  }
}
@media (max-width: 550px) {
  footer .social-media div i {
    padding-left: 10px;
  }
}
footer .social-media div p {
  padding-left: 8px;
  padding-right: 16px;
  font-family: "Roboto" serif;
  font-size: 20px;
  font-weight: 600;
  color: #B9D5E6;
  line-height: 40px;
  text-align: center;
  justify-content: center;
}
@media (max-width: 1230px) {
  footer .social-media div p {
    font-weight: 400;
  }
}
@media (max-width: 800px) {
  footer .social-media div p {
    display: none;
  }
}
@media (max-width: 960px) {
  footer .campaign {
    display: none;
  }
}
footer .campaign .footer-title {
  font-family: "RocknRoll One" serif;
  font-size: 30px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
  transition-timing-function: ease;
}
footer .campaign .footer-title:hover {
  font-size: 40px;
}
footer .campaign .footer-txt {
  padding-top: 20px;
  width: 758px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1230px) {
  footer .campaign .footer-txt {
    flex-direction: column;
    width: 500px;
  }
}
footer .campaign .footer-txt div {
  width: 40%;
  font-family: "Roboto" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  text-align: justify;
  justify-content: center;
}
@media (max-width: 1230px) {
  footer .campaign .footer-txt div {
    width: 100%;
    font-weight: 400;
  }
}
footer .copyright {
  font-family: "Roboto" serif;
  font-size: 20px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: right;
  align-self: flex-end;
  margin-top: auto;
}
@media (max-width: 1230px) {
  footer .copyright {
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

main .slogan {
  width: 100%;
  height: 215px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .slogan div {
  padding-top: 65px;
  text-align: center;
  font-family: "Inter" serif;
  font-size: 72px;
  line-height: 120%;
  font-weight: 700;
  color: #B9D5E6;
}
@media (max-width: 1110px) {
  main .slogan div {
    font-size: 56px;
  }
}
@media (max-width: 850px) {
  main .slogan div {
    padding-top: 0;
    font-weight: 600;
  }
}
main .slogan p {
  padding-top: 18px;
  text-align: center;
  font-family: "Inter" serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
  color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .slogan p:hover {
  font-size: 30px;
}
@media (max-width: 1110px) {
  main .slogan p {
    font-size: 20px;
  }
  main .slogan p:hover {
    font-size: 24px;
  }
}
main .sec1 {
  height: 480px;
  display: flex;
}
@media (max-width: 1000px) {
  main .sec1 {
    flex-direction: column;
    height: auto;
  }
}
main .sec1 div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: baseline;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec1 div .title1 {
  width: 100%;
  height: 100px;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  justify-content: center;
  text-align: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec1 div .title1:hover {
  font-size: 30px;
}
main .sec1 div .text1 {
  width: 100%;
  height: 380px;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  color: #B9D5E6;
  line-height: 40px;
  text-align: justify;
  justify-content: center;
  width: 93%;
  border: none;
}
@media (max-width: 550px) {
  main .sec1 div .text1 {
    font-weight: 400;
    height: 400px;
  }
}
main .sec1 img {
  width: 54%;
  height: 100%;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
@media (max-width: 1000px) {
  main .sec1 img {
    width: 100%;
    border-left-style: none;
  }
}
main .sec2 {
  height: 600px;
  display: flex;
}
@media (max-width: 1240px) {
  main .sec2 {
    height: 800px;
  }
}
@media (max-width: 1000px) {
  main .sec2 {
    flex-direction: column-reverse;
    height: auto;
  }
}
main .sec2 img {
  width: 49.6%;
  height: 100%;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
@media (max-width: 1000px) {
  main .sec2 img {
    width: 100%;
    border-right-style: none;
  }
}
main .sec2 div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: baseline;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec2 div .title2 {
  width: 100%;
  height: 81px;
  padding-top: 40px;
  font-family: "Inter" serif;
  font-size: 48px;
  font-weight: 700;
  color: #B9D5E6;
  justify-content: center;
  border: none;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec2 div .title2:hover {
  font-size: 56px;
}
main .sec2 div .text2 {
  width: 87%;
  height: 519px;
  padding-top: 35px;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  color: #B9D5E6;
  line-height: 40px;
  text-align: justify;
  justify-content: center;
  border: none;
}
main .sec2 div .text2 li {
  list-style-type: decimal;
}
@media (max-width: 650px) {
  main .sec2 div .text2 {
    height: auto;
  }
}
@media (max-width: 550px) {
  main .sec2 div .text2 {
    font-weight: 400;
  }
}
main .sec3 {
  height: 517px;
  display: flex;
}
@media (max-width: 1000px) {
  main .sec3 {
    height: auto;
  }
}
@media (max-width: 770px) {
  main .sec3 {
    flex-direction: column;
  }
}
main .sec3 div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: baseline;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec3 div .title3 {
  width: 100%;
  height: 127px;
  font-family: "Inter" serif;
  font-size: 32px;
  font-weight: 600;
  color: #B9D5E6;
  justify-content: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec3 div .title3:hover {
  font-size: 40px;
}
@media (max-width: 1000px) {
  main .sec3 div .title3 {
    font-size: 24px;
  }
  main .sec3 div .title3:hover {
    font-size: 32px;
  }
}
main .sec3 div .text3 {
  width: 100%;
  height: 386px;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  color: #B9D5E6;
  line-height: 40px;
  text-align: justify;
  justify-content: center;
  width: 70%;
  border: none;
}
@media (max-width: 550px) {
  main .sec3 div .text3 {
    font-weight: 400;
  }
}
@media (max-width: 1000px) {
  main .sec3 div .text3 {
    height: auto;
  }
}
@media (max-width: 1000px) {
  main .sec3 div {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 770px) {
  main .sec3 div {
    width: 100%;
  }
}
main .sec3 .r-side {
  width: 50%;
  height: 517px;
}
@media (max-width: 770px) {
  main .sec3 .r-side {
    flex-direction: row;
    width: 100%;
  }
}
main .sec3 .r-side img {
  width: 100%;
  height: 75%;
  display: flex;
  border-left-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
@media (max-width: 770px) {
  main .sec3 .r-side img {
    border: none;
  }
}
main .sec3 .r-side div {
  width: 100%;
  height: 25%;
  display: flex;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  color: #B9D5E6;
  line-height: 40px;
  text-align: center;
  justify-content: center;
  border-bottom: none;
  border-left-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec3 .r-side div a {
  color: #B9D5E6;
  text-decoration: underline;
}
@media (max-width: 770px) {
  main .sec3 .r-side div {
    border: none;
  }
}
@media (max-width: 550px) {
  main .sec3 .r-side div {
    font-weight: 400;
  }
}
main .sec1aboutus {
  height: 400px;
  display: flex;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec1aboutus .introuduction {
  border-right-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  width: 47%;
  height: 100%;
}
main .sec1aboutus .introuduction .titleintro {
  display: flex;
  padding-bottom: 30px;
  height: 25%;
  padding-left: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: left;
  align-items: flex-end;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec1aboutus .introuduction .titleintro:hover {
  font-size: 30px;
}
main .sec1aboutus .introuduction .textintro {
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-top: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  justify-content: justify;
  border: none;
}
main .sec1aboutus .introuduction .textintro li {
  list-style-type: disc;
}
main .sec1aboutus .goals {
  width: 53%;
  height: 100%;
}
main .sec1aboutus .goals .titlegoal {
  display: flex;
  padding-bottom: 30px;
  height: 25%;
  padding-left: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: left;
  align-items: flex-end;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec1aboutus .goals .titlegoal:hover {
  font-size: 30px;
}
main .sec1aboutus .goals .textgoal {
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-top: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  justify-content: justify;
  border: none;
}
main .sec1aboutus .goals .textgoal li {
  list-style-type: disc;
}
main .sec2aboutus {
  height: 320px;
  display: flex;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec2aboutus .values {
  border-right-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  width: 61%;
  height: 100%;
}
main .sec2aboutus .values .titlevalue {
  display: flex;
  padding-bottom: 30px;
  height: 22%;
  padding-left: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: left;
  align-items: flex-end;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec2aboutus .values .titlevalue:hover {
  font-size: 30px;
}
main .sec2aboutus .values .textvalue {
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-top: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  justify-content: justify;
  border: none;
}
main .sec2aboutus .values .textvalue li {
  list-style-type: disc;
}
main .sec2aboutus .team {
  width: 39%;
  height: 100%;
}
main .sec2aboutus .team .titleteam {
  display: flex;
  padding-bottom: 30px;
  height: 22%;
  padding-left: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: left;
  align-items: flex-end;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec2aboutus .team .titleteam:hover {
  font-size: 30px;
}
main .sec2aboutus .team .textteam {
  display: flex;
  width: 74%;
  padding-left: 5%;
  padding-top: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  justify-content: justify;
  border: none;
}
main .sec2aboutus .team .textteam li {
  list-style-type: disc;
}
main .sec3aboutus {
  width: 100%;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec3aboutus .title3aboutus {
  display: flex;
  height: 125px;
  font-family: "Inter" serif;
  font-size: 48px;
  font-weight: 600;
  color: #B9D5E6;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec3aboutus .title3aboutus:hover {
  font-size: 56px;
}
main .sec3aboutus .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .sec3aboutus .container .foundations {
  width: 33.3%;
  height: 320px;
  border-right-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec3aboutus .container .foundations .titlefound {
  height: 100px;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec3aboutus .container .foundations .titlefound:hover {
  font-size: 30px;
}
main .sec3aboutus .container .foundations .textfound {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10%;
  padding-top: 5%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  text-align: justify;
  border: none;
}
main .sec3aboutus .container .foundations .textfound li {
  list-style-type: disc;
  margin-left: 20px;
}
main .sec1services {
  display: flex;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec1services .serv {
  width: 50%;
  height: 540px;
  display: flex;
  flex-direction: column;
}
main .sec1services .serv .titleserv {
  height: 20%;
  display: flex;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec1services .serv .titleserv:hover {
  font-size: 30px;
}
main .sec1services .serv .textserv {
  display: flex;
  width: 90%;
  padding-left: 15%;
  height: 80%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  justify-content: center;
  align-items: center;
  border: none;
}
main .sec1services .serv .textserv li {
  list-style-type: disc;
}
main .sec2services .servicestitle {
  height: 150px;
  display: flex;
  font-family: "Inter" serif;
  font-size: 48px;
  font-weight: 600;
  color: #B9D5E6;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec2services .servicestitle:hover {
  font-size: 56px;
}
main .sec2services .subscribe {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  padding: 50px;
}
main .sec2services .subscribe .subtitleserv {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  width: 740px;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: center;
}
main .sec2services .subscribe .box {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 740px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgba(212, 211, 211, 0.3019607843);
  background-color: #e9dbdb;
  resize: none;
}
main .sec2services .subscribe .sumbit {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 740px;
  height: 50px;
  box-sizing: border-box;
  background-color: #e9dbdb;
  border: 2px solid rgba(212, 211, 211, 0.3019607843);
  resize: none;
  cursor: pointer;
}
main .bigtitle {
  width: 100%;
  height: 125px;
  display: flex;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  justify-content: center;
  align-items: center;
  font-family: "Inter" serif;
  font-size: 72px;
  font-weight: 700;
  color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .bigtitle:hover {
  font-size: 82px;
}
main .secnews {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .secnews .newsbox {
  width: 50%;
  border-right-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  height: 750px;
}
main .secnews .newsbox .header {
  height: 100px;
  display: flex;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  justify-content: center;
  align-items: center;
  font-family: "Inter" serif;
  font-size: 48px;
  font-weight: 700;
  color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .secnews .newsbox .header:hover {
  font-size: 56px;
}
main .secnews .newsbox .subtitle {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 700;
  color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .secnews .newsbox .subtitle:hover {
  font-size: 30px;
}
main .secnews .newsbox .subtxt {
  display: flex;
  width: 80%;
  padding-left: 12.5%;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  justify-content: justify;
}
main .secnews .newsbox .subtxt li {
  list-style-type: disc;
}
main .sec2news {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec2news .titlenews {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter" serif;
  font-size: 48px;
  font-weight: 700;
  color: #B9D5E6;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec2news .titlenews:hover {
  font-size: 56px;
}
main .sec2news .events {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}
main .sec2news .events .boxofnews {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  background-color: #D9D9D9;
  border-radius: 20%;
  height: 500px;
  transition: 1s;
  transition-timing-function: ease;
}
main .sec2news .events .boxofnews:hover {
  width: 30%;
  height: 600px;
}
main .sec2news .events .boxofnews .titleofnews {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 700;
  color: #759966;
}
main .sec2news .events .boxofnews .txtofnews {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RocknRoll One" serif;
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  padding-left: 12.5%;
  line-height: 40px;
  color: #759966;
}
main .sec2news .events .boxofnews .txtofnews li {
  list-style-type: disc;
}
main .sec1contact .contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
  padding: 50px;
}
main .sec1contact .contact .subtitlecontact {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  font-family: "RocknRoll One" serif;
  font-size: 48px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: center;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec1contact .contact .subtitlecontact:hover {
  font-size: 56px;
}
main .sec1contact .contact .box1 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 1000px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgba(212, 211, 211, 0.3019607843);
  background-color: #e9dbdb;
  resize: none;
}
main .sec1contact .contact .box2 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 1000px;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid rgba(212, 211, 211, 0.3019607843);
  background-color: #e9dbdb;
  resize: none;
}
main .sec1contact .contact .sumbit1 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  width: 1000px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgba(212, 211, 211, 0.3019607843);
  background-color: #e9dbdb;
  resize: none;
  cursor: pointer;
}
main .sec1contact .contact .txtbellow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  color: #B9D5E6;
}
main .sec1contact .contact .txtbellow .emailcolor {
  color: #9026CD;
}
main .sec2contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #B9D5E6;
}
main .sec2contact .faqtitle {
  height: 100px;
  display: flex;
  font-family: "RocknRoll One" serif;
  font-size: 48px;
  font-weight: 600;
  color: #B9D5E6;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-timing-function: ease;
}
main .sec2contact .faqtitle:hover {
  font-size: 56px;
}
main .sec2contact .faqtxt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RocknRoll One" serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: #B9D5E6;
  padding-bottom: 30px;
}/*# sourceMappingURL=styles.css.map */