@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=RocknRoll+One&family=Ropa+Sans:ital@0;1&display=swap');
/*
"RocknRoll One", serif;
"Ropa  Sans", serif;
"Roboto", serif;
"Inter", serif;
*/
@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";

body {
    background-color: $bg-color;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: $txt-color;
    img{
        @include w-h(120px, 120px);
    }
    .title{
        p{
            padding-top: 20px;
            font-family: "Inter" serif;
            font-size: 48px;
            line-height: 120%;
            font-weight: 700;
            color: $txt-color;
        }
    }
    .nav{
        padding-top: 35px;
        @include go-flex(column, wrap, space-between);
        @include w-h(620px, 35px);
        div{
            font-family: "Ropa Sans" serif;
            font-size: 30px;
            a{
                color: $txt-color;
            }
            
        }
    }
}
footer{
    height: 262px;
    @include go-flex(row, nowrap, space-between);
    .social-media{
    padding-left: 40px;
        div{
            display: flex;
            align-items: center;
            padding-top: 20px;
            img{
                @include w-h(45px, 45px);
            }
            p{ 
                padding-left: 8px;
                font-family: "Roboto" serif;
                font-size: 20px;
                font-weight: 600;
                color: $txt-color;
                line-height: 40px;
                text-align: center;
                justify-content: center;
            }
        }
    }
    .campaign{
        .footer-title{
            font-family: "RocknRoll One" serif;
            font-size: 30px;
            font-weight: 600;
            color: $txt-color;
            text-align: center;
            justify-content: center;
        }
        .footer-txt{
            padding-top: 20px;
            width: 758px;
            display: flex;
            justify-content: space-between;
            div{
                width: 40%;
                font-family: "Roboto" serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 40px;
                color: $txt-color;
                text-align: justify;
                justify-content: center;
            }
        }    
    }
    .copyright{
        font-family: "Roboto" serif;
        font-size: 20px;
        font-weight: 600;
        color: $txt-color;
        text-align: right;
        align-self: flex-end;
        margin-top: auto;
    }
}
main{
    .slogan{
        @include w-h(100%, 215px);
        border-bottom-style: solid;
        border-width: 2px;
        border-color: $txt-color;
        div{
            padding-top: 65px;
            text-align: center;
            font-family: "Inter" serif;
            font-size: 72px;
            line-height: 120%;
            font-weight: 700;
            color: $txt-color;
        }
        p{
            padding-top: 18px;
            text-align: center;
            font-family: "Inter" serif;
            font-size: 24px;
            line-height: 120%;
            font-weight: 600;
            color: $txt-color;
        }
    }
    .sec1{
        height: 480px;
        display: flex;
        div{
            @include go-flex(column, nowrap, baseline, center);
            border-bottom-style: solid;
            border-width: 2px;
            border-color: $txt-color;
            .title1{
                @include w-h(100%, 100px);
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                justify-content: center;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .text1{
                @include w-h(100%, 380px);
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                color: $txt-color;
                line-height: 40px;
                text-align: justify;
                justify-content: center;
                width: 93%;
                border: none;
            }
        }
        img{
            @include w-h(54%, 100%);
            border-bottom-style: solid;
            border-left-style: solid;
            border-width: 2px;
            border-color: $txt-color;
        }
    }
    .sec2{
        height: 600px;
        display: flex;
        img{
            @include w-h(49.6%, 100%);
            border-bottom-style: solid;
            border-right-style: solid;
            border-width: 2px;
            border-color: $txt-color;
        }
        div{
            @include go-flex(column, nowrap, baseline, center);
            border-bottom-style: solid;
            border-width: 2px;
            border-color: $txt-color;
            .title2{
                @include w-h(100%, 81px);
                padding-top: 40px;
                font-family: "Inter" serif;
                font-size: 48px;
                font-weight: 700;
                color: $txt-color;
                justify-content: center;
                border: none;
            }
            .text2{
                @include w-h(87%, 519px);
                padding-top: 35px;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                color: $txt-color;
                line-height: 40px;
                text-align: justify;
                justify-content: center;
                border: none;
                li{
                list-style-type: decimal;
                }
            }
        }
    }
    .sec3{
        height: 517px;
        display: flex;
        div{
            @include go-flex(column, nowrap, baseline, center);
            border-bottom-style: solid;
            border-width: 2px;
            border-color: $txt-color;
            .title3{
                @include w-h(100%, 127px);
                font-family: "Inter" serif;
                font-size: 32px;
                font-weight: 600;
                color: $txt-color;
                justify-content: center;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .text3{
                @include w-h(100%, 386px);
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                color: $txt-color;
                line-height: 40px;
                text-align: justify;
                justify-content: center;
                width: 70%;
                border: none;
            }
        }
        .r-side{
            @include w-h(50%, 517px);
            img{
                @include w-h(100%,75%);
                display: flex;
                border-left-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            div{
                @include w-h(100%, 25%);
                display: flex;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                color: $txt-color;
                line-height: 40px;  
                text-align: center;
                justify-content: center;
                border-bottom: none;
                border-left-style: solid;
                border-width: 2px;
                border-color: $txt-color;
                a{  
                    color: $txt-color;
                    text-decoration: underline;
                }
            }
        }
        
    }

    .sec1aboutus{
        height: 400px;
        display: flex;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: $txt-color;
        .introuduction{
            border-right-style: solid;
            border-width: 2px;
            border-color: $txt-color;
            @include w-h(47%, 100%);
            .titleintro{
                display: flex;
                padding-bottom: 30px;
                height: 25%;
                padding-left: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                text-align: left;
                align-items: flex-end;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .textintro{
                display: flex;
                width: 90%;
                padding-left: 5%;
                padding-top: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 40px;
                color: $txt-color;
                justify-content: justify;
                border: none;
                li{
                    list-style-type: disc;
                }   
            }
        }
        .goals{
            @include w-h(53%, 100%);
            .titlegoal{
                display: flex;
                padding-bottom: 30px;
                height: 25%;
                padding-left: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                text-align: left;
                align-items: flex-end;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .textgoal{
                display: flex;
                width: 90%;
                padding-left: 5%;
                padding-top: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 40px;
                color: $txt-color;
                justify-content: justify;
                border: none;
                li{
                    list-style-type: disc;
                }   
            }
        }
    }
    
    .sec2aboutus{
        height: 320px;
        display: flex;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: $txt-color;
        .values{
            border-right-style: solid;
            border-width: 2px;
            border-color: $txt-color;
            @include w-h(61%, 100%);
            .titlevalue{
                display: flex;
                padding-bottom: 30px;
                height: 22%;
                padding-left: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                text-align: left;
                align-items: flex-end;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .textvalue{
                display: flex;
                width: 90%;
                padding-left: 5%;
                padding-top: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 40px;
                color: $txt-color;
                justify-content: justify;
                border: none;
                li{
                    list-style-type: disc;
                }   
            }
        }
        .team{
            @include w-h(39%, 100%);
            .titleteam{
                display: flex;
                padding-bottom: 30px;
                height: 22%;
                padding-left: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                text-align: left;
                align-items: flex-end;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .textteam{
                display: flex;
                width: 74%;
                padding-left: 5%;
                padding-top: 5%;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 40px;
                color: $txt-color;
                justify-content: justify;
                border: none;
                li{
                    list-style-type: disc;
                }   
            }
        }
    }

    .sec3aboutus{
        width: 100%;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: $txt-color;
        .title3aboutus{
                display: flex;
                height: 125px;
                font-family: "Inter" serif;
                font-size: 48px;
                font-weight: 600;
                color: $txt-color;
                justify-content: center;
                align-items: center;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
        }
        .container{
            @include go-flex(row, wrap);
            .foundations{
                @include w-h(33.3%, 320px);
                border-right-style: solid;
                border-width: 2px;
                border-color: $txt-color;
                .titlefound{
                    height: 100px;
                    display: flex;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    font-family: "RocknRoll One" serif;
                    font-size: 24px;
                    font-weight: 600;
                    color: $txt-color;
                    justify-content: center;
                    align-items: center;
                    border-bottom-style: solid;
                    border-width: 2px;
                    border-color: $txt-color;
                }
                .textfound{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    padding-left: 10%;
                    padding-top: 5%;
                    font-family: "RocknRoll One" serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 40px;
                    color: $txt-color;
                    text-align: justify;
                    border: none;
                    li{
                        list-style-type: disc;
                        margin-left: 20px;
                    }   
                }
            }
        }
    }

    .sec1services{
        display: flex;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: $txt-color;
        .serv{
            @include w-h(50%, 540px);
            display: flex;
            flex-direction: column;
            .titleserv{
                height: 20%;
                display: flex;
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                justify-content: center;
                align-items: center;
                border-bottom-style: solid;
                border-width: 2px;
                border-color: $txt-color;
            }
            .textserv{
                display: flex;
                width: 90%;
                padding-left: 15%;
                height: 80%;
                font-family: "RocknRoll One" serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 40px;
                color: $txt-color;
                justify-content: center;
                align-items: center;
                border: none;
                li{
                    list-style-type: disc;
                }
            }
        }
    }

    .sec2services{
        .servicestitle{
            height: 150px;
            display: flex;
            font-family: "Inter" serif;
            font-size: 48px;
            font-weight: 600;
            color: $txt-color;
            justify-content: center;
            align-items: center;
            border-bottom-style: solid;
            border-width: 2px;
            border-color: $txt-color;
        }
        .subscribe{
            @include go-flex(column);
            border-bottom-style: solid;
            border-width: 2px;
            border-color: $txt-color;
            padding: 50px;
            .subtitleserv{
                padding-top: 30px;
                padding-bottom: 30px;
                display: flex;
                width: 740px;
                font-family: "RocknRoll One" serif;
                font-size: 24px;
                font-weight: 600;
                color: $txt-color;
                text-align: center;    
            }   
            .box{
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                width: 740px;
                height: 50px;
                box-sizing: border-box;
                border: 2px solid #D4D3D34D;
                background-color: #e9dbdb;
                resize: none;
            }
            .sumbit{
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                width: 740px;
                height: 50px;
                box-sizing: border-box;
                border: 2px solid #D4D3D34D;
                background-color: #e9dbdb;
                resize: none;
            }
        }
    }


}

